@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Cherry+Bomb+One&family=Gloria+Hallelujah&family=Poppins:wght@100;200;300;400;500;600;700&family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: #f1f4f7;
}
.logo{
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 16px;
    box-shadow: rgba(23, 25, 28, 0.1) 0px 10px 10px -10px;
    margin-bottom: 20px;
}
.logo h3{
    font-family: 'Gloria Hallelujah', cursive;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    text-align: center;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    padding: 25px 0px 40px;
    

}
.form .form-title{
    font-family: 'Cherry Bomb One', cursive;
}

.inputBox{
    display: grid;
    margin-top: 15px; 
    grid-template-columns: repeat(4, minmax(30px, 50px));
    justify-content: center;
    column-gap: 5px;
}
.inputBox input{
    border-radius: 12px;
}
.inputBox input:focus{
    border: 3px solid #2b2d42;
}
.input-field label{
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 10px;
    width: fit-content;  
    background-color: #fff;
}
.input-field input{
    width: 85%;
    padding-left: 8px;
    height: 35px;
    outline: none;
    border: none;
}

.boxes{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    row-gap: 10px;
    background-color: #fff;
}
.box{
    background-color: #f1f4f7;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.copyright{
    font-size: 12px;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #2b2d42;
    color: #f1f4f7;
    position: fixed;
    bottom: 0;
}
